<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - RetroBusters</title>

    <!-- Fuentes y estilos SB Admin 2 -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Estilos SB Admin 2 -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Logo -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-page="/Index">
            <div class="sidebar-brand-icon">
                <i class="fas fa-gamepad"></i>
            </div>
            <div class="sidebar-brand-text mx-3">RetroBusters</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Items del Menú -->
        <li class="nav-item active">
            <a class="nav-link" asp-page="/Index">
                <i class="fas fa-fw fa-home"></i>
                <span>Inicio</span>
            </a>
        </li>

        <!-- Menú Simple Desplegado -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Logo y otros elementos... -->

            <!-- Items individuales -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Ventanas/Almacenes">
                    <i class="fas fa-warehouse"></i>
                    <span>Almacenes</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-page="/Ventanas/Consolas">
                    <i class="fas fa-gamepad"></i>
                    <span>Consolas</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-page="/Ventanas/Empleados">
                    <i class="fas fa-users"></i>
                    <span>Empleados</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-page="/Ventanas/Envios">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Envios</span>
                </a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link" asp-page="/Ventanas/Miembros">
                <i class="fas fa-users"></i>
                <span>Miembros</span>
            </a>
            
            <li class="nav-item">
            <a class="nav-link" asp-page="/Ventanas/Peliculas">
                <i class="fas fa-film"></i>
                <span>Peliculas</span>
            </a>
            
            <li class="nav-item">
            <a class="nav-link" asp-page="/Ventanas/Reservas">
                <i class="fas fa-calendar-check"></i>
                <span>Reservas</span>
            </a>
            
            <li class="nav-item">
            <a class="nav-link" asp-page="/Ventanas/Reservas_Snacks">
                <i class="fas fa-utensils"></i>
                <span>Reservas de Snacks</span>
            </a>
            
            <li class="nav-item">
            <a class="nav-link" asp-page="/Ventanas/Snacks">
                <i class="fas fa-cookie-bite"></i>
                <span>Snacks</span>
            </a>
            
            <li class="nav-item">
            <a class="nav-link" asp-page="/Ventanas/Auditorias">
                <i class="fas fa-user"></i>
                <span>Auditorias</span>
            </a>

            <li class="nav-item">
                <a class="nav-link" asp-page="/Ventanas/Usuarios">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            

            <li class="nav-item">
                <a class="nav-link" asp-page="/Privacy">
                    <i class="fas fa-lock"></i>
                    <span>Privacidad</span>
                </a>
            </li>
        </ul>

    </ul>
    <!-- Fin del Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Elementos de usuario -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Usuario</span>
                            <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Contenido Principal -->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; RetroBusters @DateTime.Now.Year</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecciona "Cerrar Sesión" si estás listo para finalizar tu sesión actual.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <form method="post">
                    <button type="submit" asp-page-handler="BtClose" class="btn btn-danger">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Scripts Requeridos -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>